.u-section-1 .u-sheet-1 {
    min-height: 106px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 33px auto 38px;
  } .u-section-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/90bb5142fa56babf5fc45966d1c27e36_small.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 107px auto 0 31px;
  }
  
  .u-section-2 .u-btn-1 {
    text-transform: uppercase;
    margin: 22px auto 60px 39px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 320px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 245px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 184px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 116px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 46px;
  } .u-section-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/16-7.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 388px;
  }
  
  .u-section-4 .u-text-1 {
    margin: 107px auto 0 31px;
  }
  
  .u-section-4 .u-btn-1 {
    text-transform: uppercase;
    margin: 22px auto 60px 39px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 320px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 245px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 184px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 116px;
    }
  }.u-section-5 .u-sheet-1 {
    min-height: 45px;
  } .u-section-6 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/03.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 388px;
  }
  
  .u-section-6 .u-text-1 {
    margin: 107px auto 0 31px;
  }
  
  .u-section-6 .u-btn-1 {
    text-transform: uppercase;
    margin: 22px auto 60px 39px;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
      min-height: 320px;
    }
  
    .u-section-6 .u-btn-1 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
      min-height: 245px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: 184px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
      min-height: 116px;
    }
  }.u-section-7 .u-sheet-1 {
    min-height: 45px;
  } .u-section-8 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/20171109d804bffbc6f077768fad809d174fd664225239.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-8 .u-sheet-1 {
    min-height: 388px;
  }
  
  .u-section-8 .u-text-1 {
    margin: 107px auto 0 31px;
  }
  
  .u-section-8 .u-btn-1 {
    text-transform: uppercase;
    margin: 22px auto 60px 39px;
  }
  
  @media (max-width: 1199px) {
    .u-section-8 .u-sheet-1 {
      min-height: 320px;
    }
  
    .u-section-8 .u-btn-1 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-8 .u-sheet-1 {
      min-height: 245px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-8 .u-sheet-1 {
      min-height: 184px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-8 .u-sheet-1 {
      min-height: 116px;
    }
  }.u-section-9 .u-sheet-1 {
    min-height: 554px;
  }
  
  .u-section-9 .u-btn-1 {
    border-style: none;
    background-image: none;
    margin: 31px auto 0;
    padding: 8px 28px 8px 27px;
  }
  
  .u-section-9 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 32px;
  }
  
  .u-section-9 .u-layout-cell-1 {
    min-height: 394px;
  }
  
  .u-section-9 .u-container-layout-1 {
    padding: 30px 73px 30px 0;
  }
  
  .u-section-9 .u-text-1 {
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-9 .u-text-2 {
    font-weight: 400;
    margin: 20px 0 0;
  }
  
  .u-section-9 .u-form-1 {
    margin: 30px auto 0;
  }
  
  .u-section-9 .u-btn-2 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .u-section-9 .u-layout-cell-2 {
    min-height: 394px;
  }
  
  .u-section-9 .u-container-layout-2 {
    padding: 30px 30px 30px 50px;
  }
  
  .u-section-9 .u-text-3 {
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-9 .u-text-4 {
    line-height: 1.6;
    font-weight: 400;
    margin: 20px 127px 0 0;
  }
  
  .u-section-9 .u-btn-3 {
    background-image: none;
    border-style: solid;
    font-size: 1.5rem;
    padding: 0;
  }
  
  .u-section-9 .u-text-5 {
    font-size: 1.25rem;
    margin: 40px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-9 .u-sheet-1 {
      min-height: 485px;
    }
  
    .u-section-9 .u-layout-cell-1 {
      min-height: 325px;
    }
  
    .u-section-9 .u-form-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-9 .u-layout-cell-2 {
      min-height: 325px;
    }
  
    .u-section-9 .u-text-4 {
      margin-right: 27px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-9 .u-sheet-1 {
      min-height: 260px;
    }
  
    .u-section-9 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-9 .u-container-layout-1 {
      padding-right: 30px;
    }
  
    .u-section-9 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-9 .u-container-layout-2 {
      padding-left: 30px;
    }
  
    .u-section-9 .u-text-4 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-9 .u-sheet-1 {
      min-height: 360px;
    }
  
    .u-section-9 .u-layout-wrap-1 {
      margin-bottom: 65px;
    }
  
    .u-section-9 .u-container-layout-1 {
      padding-right: 10px;
    }
  
    .u-section-9 .u-container-layout-2 {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-9 .u-layout-wrap-1 {
      margin-bottom: -487px;
    }
  }